<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <style>
    h1 {
      color: aquamarine;
    }
    p {
      color: brown;
    }
  </style>
  <body>
    <h1>Comprovante de Transferência</h1>
    <h4><%= transaction.date %></h4>
    <h4><%= transaction.time %></h4>
    <p>Valor:</p>
    <p>R$ <%= transaction.amount %></p>
    <h3>Origem:</h3>
    <h6>Nome:</h6>
    <p><%= transaction.sender.name %></p>

    <h2>Destino:</h2>
    <h6>Nome:</h6>
    <p><%= transaction.receiver.name %></p>

    <p>Código de autenticação</p>
    <p><%= transaction.id %></p>
    <h5>KenziePay S.A.</h5>
  </body>
</html>
